body {font-family: Arial, Helvetica, sans-serif;
    background-color: #fff;
    color: #000000;
    justify-content: center;
}

figure {cursor: hand;

}

div nav {cursor: hand;
    color: #000000;


}

h3 {font-family: Arial, bold;

} 

button {
    background-color:#f68e01;
    color: #fff;
}